services:
  backend:
    restart: unless-stopped
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
      - ./logs:/app/logs
    ports:
      - "7001:7001"
    command: uvicorn app.main:app --host 0.0.0.0 --port 7001 --reload

  frontend:
    restart: unless-stopped
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "7000:5173"
    environment:
      - VITE_API_URL=http://localhost:7001
    depends_on:
      - backend
